form {
    border: 3px solid #f1f1f1;
    margin-top: 50px;
}
input[type=text], input[type=password] {
    width: 30%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 10px;
}

span.psw {
    float:center;
    padding-top: 16px;
}
body{
    background-color: aqua;
    background-image: url("../images/web-page-backgrounds-1.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 1400px;
}